body {
    background-color: #242d3a;
    font-family: "Poppins", sans-serif;
}

.fondo {
    box-shadow: 5px 5px 5px #09090a;
}

.card {
    font-size: 13px;
}

.card img {
    width: 100%;
    object-fit: cover;
}

/* @media (max-width: 768px) {
    .card img {
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
    }
} */

.textCircle {
    list-style-type: none;
}
